Thumbs.db
.DS_Store

/examples/

/assets/AppIcon.iconset/

/.agents/
/.claude/
skills-lock.json
AGENTS.md
CLAUDE.md

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
.swiftpm/
